body{background-color: darksalmon;}

#titulo1 {
  text-align: center;
  font-size: 50px;
  color: floralwhite;}


.p1 {
text-align:justify;
font-size: 20px;
color: black;}
}


.p2 {
    text-align: center;
    font-size: 20px;
    color: black;}


#img1{
    display: block;
    margin: 0 auto;}

#titulo2 {
    text-align:center;
    font-size:30px;
    color: floralwhite;}

.ul{
    display: inline - block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;

}    

#img2{
    display: block;
    margin: 0 auto;
    width: 50%;
}

header{
    text-align: center;
    font-size: 50px;
    color: rgba(0, 255, 255, 0.534);

}

.principal{
     background-color: darksalmon;}

.beneficios{
  background-color: darksalmon;}



h3{text-align:left;
    font-size: 20px;
    color: black;

}
    









