body{background-color: darksalmon;}

#titulo1 {
  text-align: center;
  font-size: 50px;
  color: aliceblue;}


.p1 {
text-align:justify;
font-size: 20px;
color: black;}
}


.p2 {
    text-align: center;
    font-size: 20px;
    color: black;}


#img1{
    display: block;
    margin: 0 auto;}

#titulo2 {
    text-align:center;
    font-size:30px;
    color: aliceblue;}

.ul{
    display: inline - block;
    vertical-align
    width: 20%;
    margin-right: 15%;
    font-size: 20px;

}    

#img2{
    width: 50%
}

header{
    text-align: center;
    font-size: 50px;
    color: rgba(0, 255, 255, 0.534);

}

.principal{
     background-color: darksalmon;}

.beneficios{
  background-color: darksalmon;}



















#img1{
    display: block;
    margin: 0% auto;
}